<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" media="screen" href="/styles/screen.css" />
    <link rel="stylesheet" media="print" href="/styles/print.css" />
  </head>
  <body>

    <header>
      <h1><a href="/index.html">Matthew Heston</a></h1>
      <nav>
        <ul>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/portfolio.html">Portfolio</a></li>
          <li><a href="/resume.html">Resume</a></li>
        </ul>
      </nav>
    </header>

    <div id="main">
      {{ content }}
    </div>

    <footer>
      Content and design by Matthew Heston. <a href="http://validator.w3.org/check?uri=referer">Validate Me.</a>
    </footer>

  </body>
</html>
